@font-face {
    font-family: 'Aire Exterior';
    src: url('../fonts/AireExterior.woff2') format('woff2'),
        url('../fonts/AireExterior.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pulsar - Original';
    src: url('../fonts/PulsarOriginalRegular.woff2') format('woff2'),
        url('../fonts/PulsarOriginalRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #141C24;
}
.section-outer {
    background-color: #141C24;
}
.section-inner {

}

/* header */
.section-header {
    background-color: #141C24;
    color: white;
    z-index: 20;
    position: relative;
}
.section-header .section-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1280px;
    height: 123px;
    margin: 0 auto;
    z-index: 10;
}
.section-header-logo {
    width: 189px;
}
.section-header-logo-wrapper {
}
.section-header-menu {
}
.section-header-menu-wrapper {
    display: flex;
}
.menu-item {
    margin-right: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    position: relative;
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
    transition: color .2s linear;
}
.menu-item:hover {
    color: white;
}
.menu-item::after {
    content: '';
    height: 1.5px;
    width: 0;
    position: absolute;
    background-color: #00c5ff;
    left: 0;
    bottom: 0;
    transition: .3s;
}
.menu-item:hover::after {
    width: 100%;
}
/* / header */


/* main */
.section-main {
    margin-top: -90px;
    position: relative;
    z-index: 2;
}
.section-main .section-inner {
    width: 1327px;
    height: 100vh;
    margin: 0 auto;
    object-fit: cover;
    object-position: right;
    overflow: hidden;
    border: 0.5px solid #57D6FF;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(87, 214, 255, .2);
    z-index: 2;
    position: relative;
}
.slideImages {
    object-fit: cover;
    object-position: center;
}
.image {
    width: 100%;
    /* z-index: 5; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}
.opacity {
    opacity: 1;
}
.slide-content {
    text-align: center;
}
.slide-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
.slide-content-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: white;
    line-height: 18.75px;
}
.slide-content-title {
    font-family: 'Aire Exterior';
    font-size: 48px;
    color: white;
    line-height: 48px;
}
.slide-content-button {
}
.upgrade-btn {
    font-size: 24px;
    color: black;
    font-family: "Aire Exterior";
    line-height: 24px;
    padding: 19px 89px;
    text-transform: uppercase;
    margin-top: 97px;
    transition: transform .3s linear;

	clip-path:
        polygon(0 0, calc(100% - 23px) 0, 100% 23px, 100% 100%,
        calc(100% - 20px) 100%, 0 100%, 0 calc(100% - 20px), 0 0);
}
.upgrade-btn:where(:hover, :focus) {
    transform: scale(1.05);
}
.v-line {
    width: 1px;
    z-index: 30;
    background-color: white;
    position: absolute;
}
.before-v-line {
    height: 77px;
    top: 120px;
    left: 50%;
}
.after-v-line {
    bottom: -110px;
    left: 50%;
    height: 132px;
}
/* / main */


/* how it works */
.section-server {
    margin-top: 139px;
}
.section-server .section-inner {
    width: 1327px;
    margin: 0 auto;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.howItWorks {
    margin-left: 66.5px;
}
.howItWorks-wrapper {
    width: 480px;
}
.howItWorks-header {
}
.content-header {
    display: flex;
    align-items: center;
    gap: 34px;
}
.h-content-line {
    width: 50px;
    height: 1px;
    background-color: #57d6ff;
}
.howItWorks-header-title {
}
.content-header-title {
    font-weight: 300;
    font-size: 16px;
    color: #57D6FF;
    line-height: 29px;
}
.howItWorks-title {
}
.content-title {
    font-size: 39px;
    line-height: 39px;
    color: white;
    margin-top: 17px;
    font-family: 'Aire Exterior';
}
.howItWorks-content {
    margin-top: 60px;
}
.content-text {
    font-weight: 300;
    font-size: 23px;
    color: #ababab;
    line-height: 39px;
}
.content-server {
}
.content-line {
    width: 271px;
    height: 1px;
    background-color: #FFFFFF33;
    margin: 27px 0;
}
.content-platform {
}
.howItWorks-btn {
    margin-top: 74px;
}
.download-btn {
    color: #00c5ff;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    padding-bottom: 6px;
    cursor: pointer;
    transition: color .2s linear;
}
.download-btn::after {
    content: '';
    height: 1.5px;
    width: 0;
    position: absolute;
    background-color: #00c5ff;
    left: 0;
    bottom: 0;
    transition: .3s;
}
.download-btn:hover::after {
    width: 100%;
}
/* / how it works */

/* start play  */
.section-startPlay {
    margin-top: 87px;
}
.section-startPlay .section-inner {
    text-align: center;
}
.startPlay-header {
    justify-content: center;
}
.content-header {
}
.h-content-line {
}
.howItWorks-header-title {
}
.content-header-title {
}
.startPlay-title {
    margin-top: 15px;
}
.content-title {
}
.startPlay-content {
    text-align: center;
    margin: 90px auto;
}
.startPlay-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.startPlay-flex-item {
}
.flex-item-text {
    font-weight: 300;
    font-size: 21px;
    color: white;
    margin-top: 12px;
}
.flex-line {
    width: 73px;
    height: 1px;
    background-color: #00c5ff;
    margin-bottom: 32px;
}
.startPlay-btn {
}
.download-btn {
}
/* / start play  */


/* plans  */
.section-plans {
    margin-top: 154px;
}
.section-plans .section-inner {
    width: 1235px;
    margin: 0 auto;
    text-align: center;
}
.plans-header {
    justify-content: center;
}
.plans-header-title {
}

.plans-title {
}

.plans-content {
    display: flex;
    gap: 10px;
    margin-top: 80px;
}
.plans-box {
    padding: 42px;
    width: 400px;
    height: 543px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: left;

    position: relative;
}
.plans-box-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-top: 34px;
}
.plans-box-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    margin-top: 15px;
}
.plans-box-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;

    margin-top: 21px;
}
.plans-box-select-btn {
    position: absolute;
    bottom: 47px;
}
.select-btn {
    font-size: 24px;
    line-height: 43px;
    font-family: 'Aire Exterior';
    padding: 14.4px 123px;
    border-radius: 5px;
    background-color: white;
    transition: all .1s linear
}


.plans-box__odd {
    background: #1F2631;
}
.plans-box-title__odd {
    color: white;
}
.plans-box-price__odd {
    color: white;
}
.plans-box-text__odd {
    color: #ABABAB;
}
.select-btn__odd {
    background-color: #00c5ff;
    border: 1px solid #00c5ff;
    color: #141C24;
}
.select-btn__odd:hover {
    background-color: inherit;
    color: white;
}


.plans-box__even {
    background-color: #00c5ff;
}
.plans-box-title__even {
    color: #141C24;
}
.plans-box-price__even {
    color: #141C24;
}
.plans-box-text__even {
    color: black;
}
.select-btn__even {
    background-color: #141C24;
    border: 1px solid #141C24;
    color: white;
}
.select-btn__even:hover {
    background-color: inherit;
    color: #1F2631;
}

.section-plans-h-line {
    width: 582px;
    height: 1px;
    background-color: #00c5ff;
    margin: 90px auto 0;
}
/* / plans  */


/* crossPlatform */
.section-crossPlatform {
    position: relative;
    margin-top: 228px;
    margin-bottom: 400px;
}
.section-crossPlatform .section-inner {
    width: 1231px;
    margin: 0 auto;
    padding-top: 20px;
}
.platform-header {
    margin-top: 20px;
}
.platform-header-title {
}
.platform-title {
    margin-top: 25px;
}
.platform-content {
    margin-top: 90px;
    width: 480px;
}
.crossPlatform-btn {
    margin-top: 60px;
}

.platform-img {
    position: absolute;
    right: 0;
    top: 0;
}
/* / crossPlatform */

/* map  */
.section-map {
}
.section-map .section-inner {
    text-align: center;
}
.map-header {
    justify-content: center;
}
.map-header-title {
}
.map-title {
}
.map-content-img {
    margin-top: 30px;
}
.map-image {
}
/* / map  */


/* footer  */
.section-footer {
    background-color: #171717;
    margin-top: 87px;
}
.section-footer .section-inner {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    width: 1266px;
    margin: 0 auto;
}
.footer-content-company {
    display: flex;
    margin-left: 67px;
}
.company-text {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 12px;
    font-family: 'Pulsar - Original';
}
.footer-content-company__text_white {
    margin-left: 29px;
    color: #ECECEC;
}
.footer-content-company__text_grey {
    margin-left: 20px;
    color: #838383;
}
.footer-content-company__text_grey p {
    margin-right: 7px;
}
.footer-content-politics {
    display: flex;
    gap: 51px;
}
.footer-content-politics__text {
    font-weight: 200;
    font-size: 12px;
    color: white;
    line-height: 14px;
    font-family: 'Roboto';
}

.footer-contact-icons{
    display: flex;
    gap: 10px;
}
/* / footer  */
