body {
    background-color: rgba(0, 0, 0, .9);
}

.wrapper {

}

.block {
    width: 1327px;
    height: 777px;
    border: 1px solid black;
    margin: 100px auto;
    object-fit: cover;
    object-position: right;
    border-radius: 16px;
    overflow: hidden;
}
.block img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
